h1 {
    font-family: sans-serif;
}
body {
    font-size: 16px;
}
p {
    font-weight: 600;
    color: gold;
    font-size: 3em;
    font-style: italic;
    line-height: 20px;
    text-align: initial;
    text-decoration: overline;
}
#Amarelo {
    color: yellow;
}
#Vermelho {
    color: red;
}
#Marrom {
    color: brown;
}